app = "haveri-console"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  NODE_ENV = "production"
  HOST = "0.0.0.0"
  PORT = "3000"

[processes]
  web = "node build"
  worker = "npm run worker"

[deploy]
  release_command = "npm run db:migrate"

[http_service]
  internal_port = 3000
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 1
  processes = ["web"]

  [http_service.concurrency]
    type = "requests"
    hard_limit = 200
    soft_limit = 150

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
